<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app"></div>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">

      var Storage = window.localStorage;

      var Socket = (function ($) {
        var client;
        return {
          init: function () {
            client = io.connect('http://localhost:3000');
            client.on('connection', function (data) {
              console.log(data);
              View.render('login-form');
            });
            client.on('joined', function (data) {
              Storage.setItem('id', data.id);
              View.render('message', data);
            });
            client.on('update', function (data) {
              console.log(data);
            });
            client.on('update-persons', function (data) {
              console.log(data);
            });
          },
          getClient: function () {
            return client;
          },
          disconnect: function () {
            client.disconnect();
          }
        };
      })(jQuery);

      var View = (function ($) {
        var $container = null;
        var html = {
          'login-form': function () {
            return `
              <div class="mobile-form">
                <div>
                  <input id="username" type="text" placeholder="Your Name" />
                </div>
                <div>
                  <input id="email" type="text" placeholder="Email Address" />
                </div>
                <div>
                  <button id="join-room" type="submit">Join</button>
                </div>
              </div>
              <hr>
              <div class="mobile-form">
                <div>
                  <input id="admin-name" type="text" placeholder="Admin Name" />
                </div>
                <div>
                  <input id="password" type="password" placeholder="Password" />
                </div>
                <div>
                  <button id="login-btn" type="submit">Login</button>
                </div>
              </div>
            `
          },
          'message': function (data) {
            return `
              <div class="mobile-form">
                <div>
                  ${data.id} | ${data.name} | ${data.email} | ${data.room}
                  <button id="leave-room" class="btn btn-default">Leave</button>
                </div>
                <div>
                  <div id="disp" class="disp"></div>
                </div>
                <div>
                  <input id="msg-input" type="text" placeholder="Say something ...." />
                </div>
              </div>
            `
          }
        };
        return {
          init: function ($app) {
            $container = $app;
            return this;
          },
          render: function (view, data) {
            console.log('will render ' + view);
            var htmlStr = html[view](data);

            $container.html(htmlStr);

            var $loginBtn = $('#login-btn');
            var $joinRoom = $('#join-room');
            var $leaveRoom = $('#leave-room');
            var $adminName = $('#admin-name');
            var $password = $('#password');
            var $userName = $('#username');
            var $email = $('#email');

            $leaveRoom.click(function (e) {
              console.log('leave-room');
              Storage.removeItem('id');
              Storage.removeItem('name');
              if (Storage.getItem('type')) {
                Storage.removeItem('type');
                Storage.removeItem('password');
              }
              Socket.disconnect();
              View.render('login-form');
              Socket.init();
            });

            $joinRoom.click(function (e) {
              console.log('join-room');
              var name = $userName.val();
              var email = $email.val();
              console.log(name, email);
              if (!$.trim(name).length || !$.trim(email).length) return;
              Socket.getClient().emit('join', {name: name, email: email});
              console.log('emitted join');
              Storage.setItem('name', name);
              Storage.setItem('email', email);
              Storage.setItem('type', 'user');
            });

            $loginBtn.click(function (e) {
              var admin = $adminName.val();
              var password = $password.val();
              if (!$.trim(admin).length || !$.trim(password).length) return;
              Socket.getClient().emit('login', {name: admin, password: password});
              Storage.setItem('name', admin);
              Storage.setItem('password', password);
              Storage.setItem('type', 'admin');
            });

            return this;
          }
        };
      })(jQuery);

      $(window).load(function () {

        Socket.init();

        var $app = $('#app');
        View.init($app);

        if (Storage.getItem('id')) {
          if (Storage.getItem('type') == 'admin') {
            Socket.getClient().emit('login', { name: Storage.getItem('name'), password: Storage.getItem('password') });
          }
          else if (Storage.getItem('name')) {
            Socket.getClient().emit('join', { name: Storage.getItem('name'), email: Storage.getItem('email') });
          }
        }
      });
    </script>
  </body>
</html>
